*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #18181b;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo{
    max-width: 600px;
    margin-bottom: 24px;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
}

.container-input span{
    color: white;
    font-size: 22px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border: 5px; 
}

.button-cta{
    height: 40px;
    background-color: #3EB72B;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.container-password{
    max-width: 400px;
    margin: 14px 0;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    color: #FFF;
     font-size: 28px;
     margin-top: 24px;
     margin-bottom: 8px;
}

.container-password:hover .click{
    visibility: visible; 
}




.password{
    background-color: rgba(0,0,0, 0.40);
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-size: 14px;
    border: 1px solid #313131;
    transition: transform 0.5s; /* suaviza o efeito de quando se passa o mouse por cima do botão */
}
.password:hover{
    transform: scale(1.05);
}
.click{
    text-align: center;
    margin-top: 12px;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: rgb(15,15,15);
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    
}

.button-cta:hover{
    background-color: aliceblue;
    color: #18181b;
}   

.container-password:hover .click{
    visibility: visible;
    opacity: 1;
    bottom: 50px;
}

.hide{
    display: none;
}